<h1>Carga en BD</h1>

<h3>1. Diseño de la BD</h3>

<p>Vamos a proceder a crear las tablas que compondran nuestra base de datos.</p>
<p>Las tablas son las siguientes:</p>
<p><b>Localizacion</b>,
<b>Evento</b>,
<b>Combate</b>,
<b>Se_pelean</b>,
<b>Pertenece</b> y
<b>Divison</b></p>

<p>Una vez teniendo claros los conponentes del problema y sus relaciones existentes podemos proceder a estructutrar como se formara la BBDD; empezamos con el Esquema E/R.</p>

<img src="../images/ufc_E-R.png">

<p>Una vez realizado el Modelo E/R se puede proceder a la transformación al Esquema Relacional.</p>

<img src="../images/ufc_Relacional.png">

<h3>2. Creación de la BD en SQL e inserción de datos.</h3>

<p>Una vez que tenemos claro como va ha ser nuestra base de datos procederemos a crearla en SQL utilizando MySQL Workbench.</p>

<img src="../images/Nueva-BBDD.png">

<h4>2.1 Conexión con la BD.</h4>

In [3]:
# Importamos las librerias necesarias.
import pandas as pd
pd.options.display.max_columns = None

import sqlalchemy as alch

from getpass import getpass

In [4]:
df = pd.read_csv("../data/ufc_fight_limpio.csv", index_col = 0)
df.head(2)

,ID_FIGHT,EVENT,URL,DATE,MES,COORDENADAS,LOCATION,W/L,WEIGHT CLASS,PESO,FIGHTER,ROUND,MINUTO,SEGUNDO,METHOD,FORMA,KD,SUB,T. CONTROL,I. SIG. STR,I. TOTAL STR.,I. TD,I. CABEZA,I. CUERPO,I. PIERNA,I. CLINCH,I. GROUND,C. SIG. STR,C. TOTAL STR.,C. TD,C. CABEZA,C. CUERPO,C. PIERNA,C. CLINCH,C. GROUND
0,0,UFC 280: Oliveira vs. Makhachev,http://ufcstats.com/event-details/885e7f70dcac...,2022-10-22,October,"(24.4538352, 54.3774014)","Abu Dhabi, Abu Dhabi, United Arab Emirates",W,Lightweight,155,Islam Makhachev,2,3,16,SUB,Arm Triangle,1,1,0:42,39,46,1,23,15,1,8,5,19,25,0,7,12,0,7,2
1,0,UFC 280: Oliveira vs. Makhachev,http://ufcstats.com/event-details/885e7f70dcac...,2022-10-22,October,"(24.4538352, 54.3774014)","Abu Dhabi, Abu Dhabi, United Arab Emirates",L,Lightweight,155,Charles Oliveira,2,3,16,SUB,Arm Triangle,0,0,5:05,41,86,3,35,6,0,5,5,30,72,2,25,5,0,5,4

In [6]:
df.sample(2)

,ID_FIGHT,EVENT,URL,DATE,MES,COORDENADAS,LOCATION,W/L,WEIGHT CLASS,PESO,FIGHTER,ROUND,MINUTO,SEGUNDO,METHOD,FORMA,KD,SUB,T. CONTROL,I. SIG. STR,I. TOTAL STR.,I. TD,I. CABEZA,I. CUERPO,I. PIERNA,I. CLINCH,I. GROUND,C. SIG. STR,C. TOTAL STR.,C. TD,C. CABEZA,C. CUERPO,C. PIERNA,C. CLINCH,C. GROUND
2518,1259,UFC Fight Night: Woodley vs. Burns,http://ufcstats.com/event-details/14b9e0f2679a...,2020-05-30,May,"(36.1672559, -115.148516)","Las Vegas, Nevada, USA",W,Light Heavyweight,205,Jamahal Hill,1,1,51,Overturned,Knee,2,0,0:02,24,24,0,19,4,1,2,4,14,14,0,9,4,1,2,3
2226,1113,UFC Fight Night: Smith vs. Rakic,http://ufcstats.com/event-details/e29cf523ebd1...,2020-08-29,August,"(36.1672559, -115.148516)","Las Vegas, Nevada, USA",W,Featherweight,145,Alex Caceres,1,3,38,SUB,Rear Naked Choke,0,1,0:10,31,31,0,22,4,5,0,0,18,18,0,11,4,3,0,0

<p>Conexión con la BD utilizando Python atrabes de la libreria <em>"sqlalchemy"</em>.</p>

In [3]:
# Almacenamos la contraseña en una variable de forma segura, para que nadie la pueda ver. 

password = getpass("Contraseña de MySQL: ")

Contraseña de MySQL: ········

In [10]:
# almacenamos el nombre de nuestra BBDD en una variable
db_name = "ufc2"

# creamos la conexipn con MySQL
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [11]:
# Crearemos un motor con SQLAlchemy para usara la interfaz común a la base de datos para ejecutar sentencias SQL.
base = alch.create_engine(conexion)

<h4>2.2 Inserción de datos.</h4>

<p>Se iran insertando los datos tabla por tabla para poder ir explicando las partes de estas</p>

<p><b>localizacion</b></p>

<p>En la tabla <em>localizacion</em> la <em>pk</em> es la ubicación (LOCATION) y los atributos son:<p/>
<p>Coorenadas(COORDENAS)</p>

In [52]:
#Para sabre cuantas ubicaciones se han realizado los eventos y compararlo con las filas insertadas en la BBDD.
len(df["LOCATION"].unique())

164

In [12]:



""" ------------------------Esta es la estructura que se utilizara pra insertar todos los datos------------------------- """




exito = 0
cont = 0

for indice, fila in df.iterrows():
    
    # hacemos una primera query para chequear si la localización que le vamos a pasar ya existe
    loc_ = base.execute(f"""select localizacion from localizacion WHERE localizacion = "{fila['LOCATION']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(loc_)) > 0:
        pass
    # si por el contario no nos devuelve ningun valor intentamos insertar los datos de la tabla
    else: 
        try:
            base.execute(f"""
                INSERT INTO localizacion (localizacion, coordenadas) VALUES
                ("{fila['LOCATION']}", "{fila['COORDENADAS']}");""")
            exito += 1
        except:
            # si no se puede se sumara a la bariable cont para notificarlo más tarde.
            cont += 1
            
if exito > 0:
    print(f"Se han insertado correctamente {exito} filas")
            
if cont > 0:
    print(f"No se han podido introducir {cont} localizaciónes")

Se han insertado correctamente 164 filas

In [ ]:
# !!!!!Si se usa se borran todos los datos de la tabla, solo se debe usar si quieres reacerla
#base.execute(f"""delete from ufc.localizacion;""")

<p><b>evento</b></p>

<p>En la tabla <em>evento</em> la <em>pk</em> es el nombre del evento(EVENT) y los atributos son:</p>
<p>fecha(DATE) y mes(MES)</p>

In [53]:
#Para sabre cuantos eventos se han realizado y compararlo con las filas insertadas en la BBDD.
len(df["EVENT"].unique())

611

In [13]:
exito = 0
cont = 0

for indice, fila in df.iterrows():
    
    # hacemos una primera query para chequear si la localización que le vamos a pasar ya existe
    loc_ = base.execute(f"""select evento from evento WHERE evento = "{fila['EVENT']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(loc_)) > 0:
        pass
    # si por el contario no nos devuelve ningun valor intentamos insertar los datos de la tabla
    else: 
        try:
            base.execute(f"""
                INSERT INTO evento (evento, fecha, mes, localizacion) VALUES
                ("{fila['EVENT']}", "{fila['DATE']}", "{fila['MES']}", "{fila['LOCATION']}");""")
            exito += 1
        except:
            # si no se puede se sumara a la bariable cont para notificarlo más tarde.
            cont += 1

if exito > 0:
    print(f"Se han insertado correctamente {exito} filas")
            
if cont > 0:
    print(f"No se han podido introducir {cont} eventos")

Se han insertado correctamente 611 filas

<p><b>combate</b></p>

In [ ]:
#base.execute(f"""delete from ufc.combate;""")

<p>En la tabla <b>combate</b> la <em>PK</em> es evento(EVENT) y combate(ID_FIGHT) y los atributos son:</p>
<p>round(ROUND), minuto(MINUTO), segundo(SEGUNDO), forma(FORMA) y metodo(METHOD)</p>

In [51]:
#Para sabre cuantos combates se han realizado y compararlo con las filas insertadas en la BBDD.
len(df["ID_FIGHT"].unique())

6741

In [15]:
exito = 0
cont = 0

for indice, fila in df.iterrows():
    
    # hacemos una primera query para chequear si la localización que le vamos a pasar ya existe
    loc_ = base.execute(f"""select combate from combate WHERE combate = {fila['ID_FIGHT']} and 
    evento = "{fila['EVENT']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(loc_)) > 0:
        pass
    # si por el contario no nos devuelve ningun valor intentamos insertar los datos de la tabla
    else: 
        try:
            base.execute(f"""
                INSERT INTO combate (evento, combate, round, minuto, segundo, forma, metodo) VALUES
                ("{fila['EVENT']}", {fila['ID_FIGHT']}, {fila['ROUND']}, {fila['MINUTO']}, {fila['SEGUNDO']},
                "{fila['FORMA']}", "{fila['METHOD']}");""")
            exito += 1
        except:
            # si no se puede se sumara a la bariable cont para notificarlo más tarde.
            cont += 1

if exito > 0:
    print(f"Se han insertado correctamente {exito} filas")
            
if cont > 0:
    print(f"No se han podido introducir {cont} eventos")

Se han insertado correctamente 6741 filas

<p><b>se_pelean</b></p>

<p>En la tabla <em>se_pelean</em> la <em>pk</em> es peleador(FIGHTER), combate(ID_FIGHT) y evento(EVENT), sus atributos son:</p>
<p>i_sig_str(I. SIG. STR), i_total_str(I. TOTAL STR.), i_td(I. TD), i_cabeza(I. CABEZA), i_cuerpo(I. CUERPO),</p> 

i_piernas(I. PIERNA), i_clinch(I. CLINCH), i_ground(I. GROUND), c_sig_str(C. SIG. STR), c_total_str(C. TOTAL STR.), c_td(C. TD),</p>  
c_cabeza(C. CABEZA), c_cuerpo(C. CUERPO), c_piernas(C. PIERNA), c_clinch(C. CLINCH), c_ground(C. GROUND), i_sub(SUB), kd(KD),

</p> w_l(W/L), t_control(T. CONTROL)</p>

In [49]:
#Para sabre cuantos peleadores an participado en los combates realizados y compararlo con las filas insertadas en la BBDD.
len(df.index)

13482

In [26]:
exito = 0
cont = 0

for indice, fila in df.iterrows():
    
    # hacemos una primera query para chequear si la localización que le vamos a pasar ya existe
    loc_ = base.execute(f"""select combate from se_pelean WHERE combate = {fila['ID_FIGHT']} and 
    evento = "{fila['EVENT']}" and peleador = "{fila['FIGHTER']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(loc_)) > 0:
        pass
    # si por el contario no nos devuelve ningun valor intentamos insertar los datos de la tabla
    else: 
        try:
            base.execute(f"""
                INSERT INTO se_pelean (peleador, evento, combate, i_sig_str, i_total_str,i_td, i_cabeza, i_cuerpo, i_piernas, 
                i_clinch, i_ground, c_sig_str, c_total_str, c_td, c_cabeza, c_cuerpo, c_piernas, c_clinch, c_ground, i_sub, 
                kd, w_l, t_control) VALUES
                ("{fila['FIGHTER']}", "{fila['EVENT']}", {fila['ID_FIGHT']}, {fila['I. SIG. STR']}, {fila['I. TOTAL STR.']}, 
                {fila['I. TD']}, {fila['I. CABEZA']}, {fila['I. CUERPO']}, {fila['I. PIERNA']}, {fila['I. CLINCH']}, 
                {fila['I. GROUND']}, {fila['C. SIG. STR']}, {fila['C. TOTAL STR.']}, {fila['C. TD']}, {fila['C. CABEZA']},
                {fila['C. CUERPO']}, {fila['C. PIERNA']}, {fila['C. CLINCH']}, {fila['C. GROUND']}, {fila['SUB']}, 
                {fila['KD']}, "{fila['W/L']}", "{fila['T. CONTROL']}");""")
            exito += 1
        except:
            # si no se puede se sumara a la bariable cont para notificarlo más tarde.
            cont += 1

if exito > 0:
    print(f"Se han insertado correctamente {exito} filas")
            
if cont > 0:
    print(f"No se han podido introducir {cont} eventos")

Se han insertado correctamente 13482 filas

<p><b>peleador</b></p>

<p>En la tabla <em>peleador</em> solo se encuentra peleador(FIGHTER) como <em>pk</em></p>

In [46]:
#Para sabre cuantos peleadores hay y compararlo con las filas insertadas en la BBDD.
len(df["FIGHTER"].unique())

2252

In [17]:
exito = 0
cont = 0

for indice, fila in df.iterrows():
    
    # hacemos una primera query para chequear si la localización que le vamos a pasar ya existe
    loc_ = base.execute(f"""select peleador from peleador WHERE peleador = "{fila['FIGHTER']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(loc_)) > 0:
        pass
    # si por el contario no nos devuelve ningun valor intentamos insertar los datos de la tabla
    else: 
        try:
            base.execute(f"""
                INSERT INTO peleador (peleador) VALUES
                ("{fila['FIGHTER']}");""")
            exito += 1
        except:
            # si no se puede se sumara a la bariable cont para notificarlo más tarde.
            cont += 1
            
if exito > 0:
    print(f"Se han insertado correctamente {exito} filas")
            
if cont > 0:
    print(f"No se han podido introducir {cont} localizaciónes")

Se han insertado correctamente 2252 filas

<p><b>division</b></p>

<p>En la tabla <em>division</em> la <em>pk</em> es division(WEIGHT CLASS) y el atributo es:</p>
<p>peso(PESO)</p>

<p>Se debe inertar primero "division" ya que "pertenece" es una tabla dependiente de esta y de peleador "peleador" así que necesita de la existencia de estas dos para poder formarse.</p>

In [19]:
#Para sabre cuantas divisiones hay y compararlo con las filas insertadas en la BBDD.
len(df["WEIGHT CLASS"].unique())

15

In [20]:
exito = 0
cont = 0

for indice, fila in df.iterrows():
    
    # hacemos una primera query para chequear si la localización que le vamos a pasar ya existe
    loc_ = base.execute(f"""select division from division WHERE division = "{fila['WEIGHT CLASS']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(loc_)) > 0:
        pass
    # si por el contario no nos devuelve ningun valor intentamos insertar los datos de la tabla
    else: 
        try:
            base.execute(f"""
                INSERT INTO division (division, peso) VALUES
                ("{fila['WEIGHT CLASS']}", "{fila['PESO']}");""")
            exito += 1
        except:
            # si no se puede se sumara a la bariable cont para notificarlo más tarde.
            cont += 1
if exito > 0:
    print(f"Se han insertado correctamente {exito} filas")
            
if cont > 0:
    print(f"No se han podido introducir {cont} localizaciónes")

Se han insertado correctamente 15 filas

<p><b>pertenece</b></p>

<p>En la tabla <em>pertenece</em> solo hay dos <em>pk</em> que son peleador(FIGHTER) y division(WEIGHT CLASS).</p>

In [21]:
exito = 0
cont = 0

for indice, fila in df.iterrows():
    
    # hacemos una primera query para chequear si la localización que le vamos a pasar ya existe
    loc_ = base.execute(f"""select peleador from pertenece WHERE peleador = "{fila['FIGHTER']}" and 
    division = "{fila['WEIGHT CLASS']}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(loc_)) > 0:
        pass
    # si por el contario no nos devuelve ningun valor intentamos insertar los datos de la tabla
    else: 
        try:
            base.execute(f"""
                INSERT INTO pertenece (division, peleador) VALUES
                ("{fila['WEIGHT CLASS']}", "{fila['FIGHTER']}");""")
            exito += 1
        except:
            # si no se puede se sumara a la bariable cont para notificarlo más tarde.
            cont += 1
if exito > 0:
    print(f"Se han insertado correctamente {exito} filas")
            
if cont > 0:
    print(f"No se han podido introducir {cont} peleador")

Se han insertado correctamente 3075 filas

<h3>3. Pruevas de querys.</h3>

<p>Despues de la creación e insercio de datos solo nos queda probar que toso funciona de un a manera correctas.</p>

In [22]:
# Probaremos un "join" con un "order by".
q_1 = """

select * from localizacion
natural join evento
order by fecha desc;

"""

df_1 = pd.read_sql(q_1, base)

df_1.head(4)

,localizacion,coordenadas,evento,fecha,mes
0,"Abu Dhabi, Abu Dhabi, United Arab Emirates","(24.4538352, 54.3774014)",UFC 280: Oliveira vs. Makhachev,2022-10-22,October
1,"Las Vegas, Nevada, USA","(36.1672559, -115.148516)",UFC Fight Night: Grasso vs. Araujo,2022-10-15,October
2,"Las Vegas, Nevada, USA","(36.1672559, -115.148516)",UFC Fight Night: Dern vs. Yan,2022-10-01,October
3,"Las Vegas, Nevada, USA","(36.1672559, -115.148516)",UFC Fight Night: Sandhagen vs. Song,2022-09-17,September

In [23]:
# También un where
q_2 = """

select * from localizacion
natural join evento
natural join combate
where metodo = "SUB" and
forma = "Guillotine Choke"
order by fecha desc;

"""

df_2 = pd.read_sql(q_2, base)

df_2.head(4)

,evento,localizacion,coordenadas,fecha,mes,combate,round,minuto,segundo,forma,metodo
0,UFC Fight Night: Dern vs. Yan,"Las Vegas, Nevada, USA","(36.1672559, -115.148516)",2022-10-01,October,26,1,0,30,Guillotine Choke,SUB
1,UFC 279: Diaz vs. Ferguson,"Las Vegas, Nevada, USA","(36.1672559, -115.148516)",2022-09-10,September,47,4,2,52,Guillotine Choke,SUB
2,UFC Fight Night: Vera vs. Cruz,"San Diego, California, USA","(32.7174202, -117.1627728)",2022-08-13,August,89,3,1,39,Guillotine Choke,SUB
3,UFC Fight Night: Ortega vs. Rodriguez,"Elmont, New York, USA","(40.7076444, -73.7093041)",2022-07-16,July,135,2,1,48,Guillotine Choke,SUB

In [27]:
# Y por ultimo una mas complejasa.

q_3 = """

select * from se_pelean
where combate in (select combate from se_pelean
                where peleador = "Charles Oliveira") and 
                peleador != "Charles Oliveira"
order by combate;

"""

df_3 = pd.read_sql(q_3, base)

df_3.head(4)

,peleador,evento,combate,i_sig_str,i_total_str,i_td,i_cabeza,i_cuerpo,i_piernas,i_clinch,i_ground,c_sig_str,c_total_str,c_td,c_cabeza,c_cuerpo,c_piernas,c_clinch,c_ground,i_sub,kd,w_l,t_control
0,Islam Makhachev,UFC 280: Oliveira vs. Makhachev,0,39,46,1,23,15,1,8,5,19,25,0,7,12,0,7,2,1,1,W,0:42
1,Justin Gaethje,UFC 274: Oliveira vs. Gaethje,241,33,33,0,22,3,8,7,0,21,21,0,13,3,5,6,0,0,1,L,0:13
2,Dustin Poirier,UFC 269: Oliveira vs. Poirier,438,94,105,0,92,2,0,7,7,58,69,0,56,2,0,5,4,0,1,L,0:35
3,Michael Chandler,UFC 262: Oliveira vs. Chandler,740,55,61,0,42,10,3,0,29,30,36,0,22,6,2,0,17,1,0,L,2:27