<h1>Desafio de extracciÃ³n</h1>

<h3>1. Dataframe original</h3>

<p>Importamos las librerias necesarias para poder recopilar datos.</p>

In [1]:
import requests
import pandas as pd
from time import sleep
import numpy as np
import tqdm

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.options import Options


import warnings
warnings.filterwarnings('ignore')

import sys
sys.path.append("../")

import src.harvest as hr

<p>Nos importamos nuestro csv a una variable como una DataFrame.</p>

In [3]:
eventos = pd.read_csv("../data/ufc_event_details.csv")

In [3]:
eventos.head(2)

,EVENT,URL,DATE,LOCATION
0,UFC 280: Oliveira vs. Makhachev,http://ufcstats.com/event-details/885e7f70dcac...,"October 22, 2022","Abu Dhabi, Abu Dhabi, United Arab Emirates"
1,UFC Fight Night: Grasso vs. Araujo,http://ufcstats.com/event-details/49c29e57d4e2...,"October 15, 2022","Las Vegas, Nevada, USA"

<h3>2. Limpieza de DataFrame original</h3>

<p>Cambiaremos lo minimo posible el DataFrame original ya que queremos tener la mayor informaciÃ³n posibel, asÃ­ que lo unico uqe haremso sera borrar las filas que no contengas una url y cambiar los nulos que pudiera haber.</p>

In [4]:
(eventos.isnull().sum() * 100) / eventos.shape[0]
#No hay nulos.

EVENT       0.0
URL         0.0
DATE        0.0
LOCATION    0.0
dtype: float64

In [5]:
len(eventos["EVENT"].unique())
#Todos los eventos son distintos.

623

<h3>3. Enriquecimiento a traves de web scraping</h3>

<p>Procedemos ha recopilar datos de los combates a trabes de la web de la <b>UFC</b> ðŸ“¸ðŸ‘€ utilizansdo las urls que tiene nuestro DataFrame.</p>
<p>Empezaremos instalando de forma local Selenium.</p>

In [14]:
driver = webdriver.Chrome(ChromeDriverManager().install())
driver.get("https://chromedriver.chromium.org/downloads")

In [6]:
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized')
opciones.add_argument('user.data-dir=selenium')
opciones.add_argument('--incognito')

<p>Creamos dos nuevas variables:<p/>
<p><b>URLS</b> para almacenar todas las urls que se encuentran en nuestro DataFrame.<p/>
<p><b>DORMIR</b> para establecer el tiempo de esper antes de ejecutar cada acciÃ³n con Selenium.<p/>

In [4]:
urls = eventos["URL"]

<p>Procedemos a programar el codigo que necesitaremos para estraer las estadisticas del combate</p>

In [7]:
%%time

list_stats = hr.rec_fight(urls)

CPU times: total: 5min 38s
Wall time: 3h 12min 42s

In [8]:
res_fight = pd.DataFrame(list_stats)
# Guardamos el diccionario credo en una variable para poder guardarlo en nuestra carpeta de datos

<p>Copiamos la informacion recopilada.</p>

In [ ]:
df_fight = res_fight.copy()

In [3]:
df_fight.head(2)

,FIGHTER,KD,C. STR,C. TD,SUB,WEIGHT CLASS,METHOD,ROUND,TIME,SIG. STR,TOTAL STR.,TD,T. CONTROL,CABEZA,CUERPO,PIERNA,CLINCH,GROUND
0,"['Islam Makhachev\nCharles Oliveira', 'Aljamai...","['1\n0', '0\n0', '0\n0', '1\n0', '0\n0', '0\n0...","['30\n19', '72\n8', '84\n58', '59\n33', '98\n7...","['2\n0', '5\n0', '0\n6', '0\n4', '1\n0', '0\n0...","['1\n0', '2\n0', '0\n0', '0\n0', '0\n0', '0\n0...","['Lightweight', 'Bantamweight', 'Bantamweight'...","['SUB\nArm Triangle', 'KO/TKO\nPunches', 'S-DE...","['2', '2', '3', '3', '3', '2', '3', '3', '3', ...","['3:16', '3:44', '5:00', '5:00', '5:00', '4:47...","['19 of 39\n30 of 41', '72 of 93\n8 of 26', '5...","['25 of 46\n72 of 86', '148 of 181\n13 of 31',...","['0 of 1\n2 of 3', '5 of 8\n0 of 0', '6 of 13\...","['0:42\n5:05', '7:06\n0:03', '5:44\n0:02', '0:...","['7 of 23\n25 of 35', '56 of 75\n3 of 20', '24...","['12 of 15\n5 of 6', '13 of 15\n2 of 2', '13 o...","['0 of 1\n0 of 0', '3 of 3\n3 of 4', '21 of 21...","['7 of 8\n5 of 5', '2 of 4\n0 of 0', '5 of 6\n...","['2 of 5\n4 of 5', '53 of 59\n0 of 0', '6 of 9..."
1,"['Alexa Grasso\nViviane Araujo', 'Jonathan Mar...","['0\n0', '2\n0', '0\n0', '0\n0', '1\n0', '2\n0...","['153\n126', '62\n51', '61\n25', '60\n55', '8\...","['0\n2', '0\n1', '0\n3', '2\n0', '0\n0', '1\n1...","['0\n0', '0\n0', '0\n1', '0\n0', '0\n0', '0\n0...","[""Women's Flyweight"", 'Bantamweight', 'Middlew...","['U-DEC', 'KO/TKO\nKick', 'KO/TKO\nElbows', 'U...","['5', '2', '2', '3', '1', '3', '3', '1', '3', ...","['5:00', '4:19', '3:12', '5:00', '1:28', '5:00...","['153 of 311\n126 of 264', '51 of 79\n62 of 10...","['193 of 353\n148 of 288', '60 of 88\n66 of 10...","['0 of 0\n2 of 10', '1 of 1\n0 of 1', '3 of 5\...","['0:00\n3:29', '0:20\n3:30', '5:03\n1:11', '4:...","['101 of 243\n103 of 235', '10 of 35\n40 of 77...","['33 of 45\n17 of 22', '9 of 10\n15 of 18', '5...","['19 of 23\n6 of 7', '32 of 34\n7 of 7', '0 of...","['9 of 12\n0 of 1', '3 of 5\n12 of 14', '7 of ...","['1 of 1\n2 of 2', '0 of 1\n13 of 24', '11 of ..."

<p>Ahora que tenemos nuestro dos DataFrames guardados podemos crear uno nuevo formado por la union de los dos anteriores para poder trabajar con el.</p>
<p>Aun que no tienen ninguna columna en comun para poder unirse tien la misma longitud de filas asÃ­ que poderemos a cer un concat en el <b>"axis = 1"</b></p>

In [6]:
#df.ionsert(loc, column, value, allow_duplicates=True --> si quieres que la columna se duplique)
df = pd.concat([eventos, df_fight], axis=1)
df.head(2)

,EVENT,URL,DATE,LOCATION,FIGHTER,KD,C. STR,C. TD,SUB,WEIGHT CLASS,...,TIME,SIG. STR,TOTAL STR.,TD,T. CONTROL,CABEZA,CUERPO,PIERNA,CLINCH,GROUND
0,UFC 280: Oliveira vs. Makhachev,http://ufcstats.com/event-details/885e7f70dcac...,"October 22, 2022","Abu Dhabi, Abu Dhabi, United Arab Emirates","['Islam Makhachev\nCharles Oliveira', 'Aljamai...","['1\n0', '0\n0', '0\n0', '1\n0', '0\n0', '0\n0...","['30\n19', '72\n8', '84\n58', '59\n33', '98\n7...","['2\n0', '5\n0', '0\n6', '0\n4', '1\n0', '0\n0...","['1\n0', '2\n0', '0\n0', '0\n0', '0\n0', '0\n0...","['Lightweight', 'Bantamweight', 'Bantamweight'...",...,"['3:16', '3:44', '5:00', '5:00', '5:00', '4:47...","['19 of 39\n30 of 41', '72 of 93\n8 of 26', '5...","['25 of 46\n72 of 86', '148 of 181\n13 of 31',...","['0 of 1\n2 of 3', '5 of 8\n0 of 0', '6 of 13\...","['0:42\n5:05', '7:06\n0:03', '5:44\n0:02', '0:...","['7 of 23\n25 of 35', '56 of 75\n3 of 20', '24...","['12 of 15\n5 of 6', '13 of 15\n2 of 2', '13 o...","['0 of 1\n0 of 0', '3 of 3\n3 of 4', '21 of 21...","['7 of 8\n5 of 5', '2 of 4\n0 of 0', '5 of 6\n...","['2 of 5\n4 of 5', '53 of 59\n0 of 0', '6 of 9..."
1,UFC Fight Night: Grasso vs. Araujo,http://ufcstats.com/event-details/49c29e57d4e2...,"October 15, 2022","Las Vegas, Nevada, USA","['Alexa Grasso\nViviane Araujo', 'Jonathan Mar...","['0\n0', '2\n0', '0\n0', '0\n0', '1\n0', '2\n0...","['153\n126', '62\n51', '61\n25', '60\n55', '8\...","['0\n2', '0\n1', '0\n3', '2\n0', '0\n0', '1\n1...","['0\n0', '0\n0', '0\n1', '0\n0', '0\n0', '0\n0...","[""Women's Flyweight"", 'Bantamweight', 'Middlew...",...,"['5:00', '4:19', '3:12', '5:00', '1:28', '5:00...","['153 of 311\n126 of 264', '51 of 79\n62 of 10...","['193 of 353\n148 of 288', '60 of 88\n66 of 10...","['0 of 0\n2 of 10', '1 of 1\n0 of 1', '3 of 5\...","['0:00\n3:29', '0:20\n3:30', '5:03\n1:11', '4:...","['101 of 243\n103 of 235', '10 of 35\n40 of 77...","['33 of 45\n17 of 22', '9 of 10\n15 of 18', '5...","['19 of 23\n6 of 7', '32 of 34\n7 of 7', '0 of...","['9 of 12\n0 of 1', '3 of 5\n12 of 14', '7 of ...","['1 of 1\n2 of 2', '0 of 1\n13 of 24', '11 of ..."

In [7]:
df.to_csv("../data/ufc.csv")

In [8]:
df_ = pd.read_csv("../data/ufc.csv", index_col = 0)
df_.head(2)

,EVENT,URL,DATE,LOCATION,FIGHTER,KD,C. STR,C. TD,SUB,WEIGHT CLASS,...,TIME,SIG. STR,TOTAL STR.,TD,T. CONTROL,CABEZA,CUERPO,PIERNA,CLINCH,GROUND
0,UFC 280: Oliveira vs. Makhachev,http://ufcstats.com/event-details/885e7f70dcac...,"October 22, 2022","Abu Dhabi, Abu Dhabi, United Arab Emirates","['Islam Makhachev\nCharles Oliveira', 'Aljamai...","['1\n0', '0\n0', '0\n0', '1\n0', '0\n0', '0\n0...","['30\n19', '72\n8', '84\n58', '59\n33', '98\n7...","['2\n0', '5\n0', '0\n6', '0\n4', '1\n0', '0\n0...","['1\n0', '2\n0', '0\n0', '0\n0', '0\n0', '0\n0...","['Lightweight', 'Bantamweight', 'Bantamweight'...",...,"['3:16', '3:44', '5:00', '5:00', '5:00', '4:47...","['19 of 39\n30 of 41', '72 of 93\n8 of 26', '5...","['25 of 46\n72 of 86', '148 of 181\n13 of 31',...","['0 of 1\n2 of 3', '5 of 8\n0 of 0', '6 of 13\...","['0:42\n5:05', '7:06\n0:03', '5:44\n0:02', '0:...","['7 of 23\n25 of 35', '56 of 75\n3 of 20', '24...","['12 of 15\n5 of 6', '13 of 15\n2 of 2', '13 o...","['0 of 1\n0 of 0', '3 of 3\n3 of 4', '21 of 21...","['7 of 8\n5 of 5', '2 of 4\n0 of 0', '5 of 6\n...","['2 of 5\n4 of 5', '53 of 59\n0 of 0', '6 of 9..."
1,UFC Fight Night: Grasso vs. Araujo,http://ufcstats.com/event-details/49c29e57d4e2...,"October 15, 2022","Las Vegas, Nevada, USA","['Alexa Grasso\nViviane Araujo', 'Jonathan Mar...","['0\n0', '2\n0', '0\n0', '0\n0', '1\n0', '2\n0...","['153\n126', '62\n51', '61\n25', '60\n55', '8\...","['0\n2', '0\n1', '0\n3', '2\n0', '0\n0', '1\n1...","['0\n0', '0\n0', '0\n1', '0\n0', '0\n0', '0\n0...","[""Women's Flyweight"", 'Bantamweight', 'Middlew...",...,"['5:00', '4:19', '3:12', '5:00', '1:28', '5:00...","['153 of 311\n126 of 264', '51 of 79\n62 of 10...","['193 of 353\n148 of 288', '60 of 88\n66 of 10...","['0 of 0\n2 of 10', '1 of 1\n0 of 1', '3 of 5\...","['0:00\n3:29', '0:20\n3:30', '5:03\n1:11', '4:...","['101 of 243\n103 of 235', '10 of 35\n40 of 77...","['33 of 45\n17 of 22', '9 of 10\n15 of 18', '5...","['19 of 23\n6 of 7', '32 of 34\n7 of 7', '0 of...","['9 of 12\n0 of 1', '3 of 5\n12 of 14', '7 of ...","['1 of 1\n2 of 2', '0 of 1\n13 of 24', '11 of ..."

<h3>Asta este punto ya hemos terminado la etapa de extracciÃ³n ahora pasaremos a limpiar nuestra DataFrame; se podra encontrar en "Limpieza"</h3>